* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* font-family: "Josefin Sans", sans-serif; */
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
strong {
  font-family: "Manrope", sans-serif;
}
p,
a {
  font-family: "Manrope", sans-serif;
}
.trans-intro-head {
  font-family: "Playfair Display", serif;
}
/* body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
} */
:root {
  --primary-color: rgb(71, 49, 31);
  --secondary-color: ;

  --heading-fontsize: 3rem;
  --subheading-fontsize: 1.5rem;
  --para-fontsize: 1rem;
}
/* navbar */
.navbar {
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
}

.navbar-nav {
  justify-content: space-between;
}

/* utility classes */
.flex {
  display: flex;
}
.grid {
  display: grid;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: rgb(71, 49, 31);
  /* color: white; */
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

nav ul {
  justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: rgb(124, 91, 65);
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
nav ul li a.active {
  color: rgb(17, 8, 1);
  text-decoration: underline;
}

nav ul li a:hover {
  color: rgb(17, 8, 1);
  transition: 0.4s;
}

/* hamburger/menu */
.collapse {
  display: none;
}

/* hero section */

.hero {
  margin-top: 40px;
  justify-content: space-evenly;
  overflow: hidden;
  /* z-index: -1; */
}
.hero-img {
  width: 100%;
  object-fit: cover;
  height: 555px;
}
.img-container {
  width: 80%;
}
.trans-content {
  position: absolute;
  left: 2rem;
  align-self: flex-start;
  margin-left: 2rem;
  margin-top: 5%;
  margin-right: 0.5rem;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(
    to right,
    rgb(246 233 233 / 0%),
    rgb(203 196 177 / 65%)
  );
  flex-direction: column;
  padding: 100px 50px 100px 50px;
  max-height: 400px;
  max-width: 400px;
  min-height: 300px;
  /* text-align: center; */
}
.trans-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 39px;
  /* padding-top: 0px;
    padding-left: 0px; */
  /* overflow: hidden; */
  color: rgb(71, 49, 31);
}

.trans-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-align: justify;
}

.companies {
  margin-top: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(124, 91, 65);
  background-color: antiquewhite;
}
.h {
  margin-top: 25px;
  text-align: center;
}

/* hot deals  */

.hot-deal-container {
  /* align-items: center; */
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 1px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px auto;
  justify-content: space-evenly;
  width: 100%;
}
.hot-deal-container .item {
  /* height: ; */
  min-width: 190px;
  max-width: 308px;
  width: 24%;
  /* padding: 10px; */
  margin: 5px;
}
.hot-deal-container .item h1 {
  font-size: 3rem;
  color: var(--primary-color);
}
.hot-deal-container .item h3 {
  /* color: rgb(71, 49, 31); */
  color: var(--primary-color);
  font-size: 1.5rem;
}
.hot-deal-container .item p {
  font-size: 1rem;
}
.deals {
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

/* About section */

.about-container-main {
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto 1%;
}
.about-container-1 {
  justify-content: space-between;
  /* padding-left: 1%;
  padding-right: 1%; */
  align-items: center;
}
/* .about-container-1{
  padding-left: 1%;
  padding-right: 1%
} */
.about-container-1-txt {
  max-width: 375px;
  flex-direction: column;
}

.about-container-1-txt-h {
  color: var(--primary-color);
  font-size: 3rem;
}
.about-container-1-txt-p {
  text-align: justify;
}
.about-container-1-btn {
  all: unset;
  border: 1px solid rgb(192, 109, 41);
  height: 30px;
  width: 100px;
  min-width: 100px;
  margin: auto;
  text-align: center;
  padding: 2px 4px 2px 4px;
  border-radius: 30px;
  transition: 0.3s;
}
.about-container-1-btn:hover {
  background-color: var(--primary-color);
  color: white;
  /* transform: scale(1.18); */
}
.about-container-1-btn:active {
  transform: scale(1.18);
}

.about-container-2 {
  justify-content: space-around;
  margin-top: 36px;
}
.about-container-2-items {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 500px;
  grid-gap: 5px;
}
.about-container-2-imgs {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5px;
  width: 309px;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  flex-wrap: wrap;
  margin-top: 22px;
  margin: 22px auto;
}
.position {
  width: 100%;
  object-fit: cover;
  height: 144px;
  object-fit: cover;
}
.trans-intro-head {
  font-size: var(--subheading-fontsize);
  color: var(--primary-color);
  font-weight: 700;
  line-height: 50px;
}

.products-section {
  width: 100%;
  /* background-color: aquamarine; */

  flex-direction: column;

  padding-right: 10px;
  padding-left: 10px;
  margin: auto 1%;
}

.products-head {
  color: var(--primary-color);
  font-size: 3rem;
  padding: 5rem 0rem 2.5rem 0rem;
}
.products-container {
  display: grid;
  /* justify-content: center; */
  /* grid-template-columns: repeat(4 , 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-gap: 10rem 1rem;
  justify-content: space-evenly;
}

.item-container {
  background-color: rgb(250, 235, 215);

  height: 295px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.3s 0.1s;
}
.item-container:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
}

.item-container h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 10% auto 15px auto;
}

.item-container strike {
  color: var(--primary-color);
  padding: 0.3rem;
}
.item-container div {
  padding: 0.3rem;
  color: var(--primary-color);
}
.item-container img {
  position: relative;
  max-width: 300px;
  max-height: 250px;
  padding-top: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;  */
}

.w {
  /* background-color: rgb(255, 145, 0); */
  height: 150px;
}

/* client section start */
.client-section {
  width: 80%;
  margin: 10px auto 0px auto;
  background-color: rgb(250, 235, 215);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}
.client-section-head-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* line-height: 30px; */
}
.client-section-head-area h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--primary-color);
}
.client-section-head-area p {
  font-size: 12px;
  color: #212529;
  font-style: italic;
  text-align: center;
}

.client-section-clientarea {
  display: flex;
  gap: 5%;
}

.client-section img {
  /* height: 45vh; */
  width: 200px;
  /* object-fit: auto; */
}

.client-section-clientarea-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.client-section-clientarea-details h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.client-section-clientarea-details p {
  font-size: 12px;
  color: #212529;
  font-style: italic;
}
.client-section-clientarea-details div {
  display: flex;
  flex-direction: column;
}
.client-section-clientarea-details div h3 {
  font-size: 1.2rem;
  color: #212529;
}
.client-section-clientarea-details div span {
  font-family: "Manrope", sans-serif;
  font-size: 0.8rem;
  color: #212529;
}

/* Footer */

footer {
  height: 600px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  /* padding-left: 10%; */
  /* padding-top: 100px; */
  /* align-items: center; */
  /* justify-content: center; */
}
.footer-container{
  margin: 50px auto;
}
footer .footer-head {
  display: flex;
  gap:50px;
  margin: 0px 10px ;

}
footer .footer-head div{
  display: flex;
  /* flex-direction: ; */
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;

}

footer .footer-head h2{
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  font-size: 34px;
  display: inline-block;
  max-width: 544px;

}

.hr{
  
  border-bottom: 1px solid rgb(24, 23, 23);
  width: 95%;
  /* margin-; */
  margin: 20px auto;
}
/* footer hr{
  color: black;
} */
footer .footer-head button{
  all: unset;
  /* background-color: aliceblue; */
  border: 2px solid white;
  width: 120px;
  height: 35px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;

}

footer .footer-head .btn-get{
  background-color: white;
  color: rgb(26, 25, 25);
}
footer .footer-head .btn-transparant{
  /* background-color: rgb(114, 76, 61); */
  background-color: rgba(255, 255, 255, 0.178);
  color: white;
}
footer .footer-head .btn-get:hover,footer .footer-head .btn-transparant:hover{
  background-color: rgba(255, 255, 255, 0.479);
  transform: scale(1.05);
}




@media (max-width: 640px) {
  nav {
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 3%;
    padding-right: 5%;
  }
  .about-container-2 {
    flex-direction: column;
  }
  .trans-content {
    padding: 60px 60px 60px 60px;
  }

  .collapse {
    display: block;
  }

  #hambuger {
    font-size: 40px;
    /* color: rgb(71, 49, 31); */
    color: var(--primary-color);
  }

  .logo {
    font-size: 40px;
  }

  .nothing {
    display: none;
  }

  .none {
    display: none;
  }
  .img-container {
    width: 100%;
  }
  .img-container {
    height: fit-content;
  }
  .deals {
    justify-content: space-around;
  }

  /* .hot-deal-container .item{
    
        /* height: ; */
  /* min-width: auto; */
  /* max-width: auto; */
  /* padding: 10px;
        margin: 5px; */
  /* } */
}

@media (max-width: 411px) {
  .about-container-2 {
    flex-direction: column;
  }
  .hot-deal-container .item {
    min-width: 330px;
  }
  .trans-content {
    padding: 50px 30px 50px 30px;
    /* text-align: center; */
  }
  .trans-head {
    font-size: 27px;
  }
  .about-container-1-btn {
    display: none;
  }

  .products-container {
    display: grid;
    /* justify-content: center; */
    /* grid-template-columns: repeat(4 , 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-gap: 6rem 1rem;
    justify-content: space-evenly;
  }

  .client-section {
    width: 90%;
    height: 45vh;
    /* margin: 10px auto; */
    /* background-color: rgb(250, 235, 215); */

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
  }
  .client-section-head-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* line-height: 30px; */
  }
  .client-section-head-area h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    /* text-align: center; */
    /* color: var(--primary-color); */
  }
  .client-section-head-area p {
    font-size: 10px;
    color: #212529;
    font-style: italic;
    text-align: center;
  }
  .client-section img {
    /* height: 45vh; */
    width: 30vw;
    object-fit: auto;
  }
  .client-section-clientarea {
    /* display: flex; */
    gap: 3%;
  }

  /* .client-section img { */
  /* height: 45vh; */
  /* width: 30vw;  */
  /* object-fit: auto; */

  /* } */
  /* .client-section-clientarea-details{ */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  /* } */
  .client-section-clientarea-details h2 {
    font-size: 1rem;
    /* color: var(--primary-color) */
  }

  .client-section-clientarea-details p {
    font-size: 9px;
    color: #212529;
    font-style: italic;
    text-align: left;
  }
  .client-section-clientarea-details div {
    display: flex;
    flex-direction: column;
  }
  .client-section-clientarea-details div h3 {
    font-size: 0.67rem;
    /* color:#212529; */
  }
  .client-section-clientarea-details div span {
    font-size: 0.46rem;
    /* color:#212529; */
    font-family: "Manrope", sans-serif;
  }
}
@media (min-width: 1280px) {
  /* .trans-content{
    } */
  body {
    max-width: 1280px;
    margin: auto;
  }
  .trans-content {
    position: static;
    translate: 50px 0px;
  }
  .img-container {
    translate: -50px 0px;
    z-index: -1;
  }
}
